.treeview ul /*, .treeview li */ {
  list-style-type: none;
	
	/* position:relative; */
}

/* hide all ul inside any input: close all lists*/
.treeview input ~ ul {
	display: none; 
} 

/* show all ul contained in a checked checkbox */
.treeview input:checked ~ ul {
	display: block; 
}

/* 'opened_folder' icon for labels preceded with a checked checkbox */
.treeview input:checked + label {
  background: url("../images/opened_folder.png") no-repeat;	
}

/* 'closed_folder' icon for labels preceded with a not-checked checkbox */
.treeview input:not(:checked)+ label {
  background: url("../images/closed_folder.png") no-repeat;	
}

.treeview input + label::before {
	content: ""; /* very important: make the content empty */		
	/* content: "abc"; border: 1px solid red; */
	margin: 0 20px 0 0;  /* top right bottom left*/	
}

.treeview input {
  position: relative;
	margin:0;
	top: 2px;
	left:17px;
	width: 16px;
	height:16px;
	opacity:0;
}

.treeview ul {
	position:relative;
}

.treeview ul::before {
  content:"";
  position:absolute;  
	top:0;
	left:20px;
  bottom:0;
  border-left:3px solid red;	
}

.treeview li::before {
  content:"";    
  width:16px; /* it is very important to set the width^*/  /* compare with the .treeview li padding:0 16px;*/
  height:0;
  border-top:3px solid;
  margin-top:8px;
  position:absolute;
  left: 20px;
  
}


/*
.treeview li {
 padding:0 0 0 10px; 
	border-left:1px solid blue;
	border-top:1px solid green;
}
*/

