.treeview ul
, .treeview li {
  padding: 0;
  margin: 0 0 0 16px;
  list-style: none;
  position:relative;
}

/* hide all ul inside any input: close all lists*/
.treeview input ~ ul {
  display: none;
}

/* show all ul contained in a checked checkbox */
.treeview input:checked ~ ul {
  display: block;
}

/* let more space between a label and the preceding input */
.treeview input + label {
	margin: 0 0 0 15px; /* top rigth bottom left */
}

/* make the check-box inivisible */
.treeview input {
  /* position: absolute; */ /* text of check-boxes to the left */
  opacity: 0.1; /* hide the check-boxes */
}

/* 'opened_folder' icon for labels preceded with a checked checkbox */
.treeview input:checked + label {
  background: url("../images/opened_folder.png") no-repeat;	
}

/* 'closed_folder' icon for labels preceded with a not-checked checkbox */
.treeview input:not(:checked)+ label {
  background: url("../images/closed_folder.png") no-repeat;
  background-color: pink;
  background-position-y: top 5px;
}

/* make the check-box inivisible */
.treeview input {
  position: absolute;  /* text of check-boxes to the left */
  opacity: 0.4; /* hide the check-boxes */
  border: 1px solid blue;
}

.treeview label::before {
	content: ""; /* very important: make the content empty */		
	/* border: 1px solid red; */
	margin: 0 20px 0 0;  /* top right bottom left*/	
}

/* make the left border (the whole high) of every ul::before visible  */
.treeview ul::before {
  content:"";
   display:block; /* default: static */
  /*width:0;*/
  left:0;
  position:absolute;
  top:0px;
  bottom:0;
  border-left:3px solid
}

/* make the li twice too high*/
.treeview li {	
  margin:0;
  border: 1px solid red; /* just comment this line to see*/  
  line-height:200%;
  padding:0 16px;
  font-weight:bold;
  /* color:#369;
  
  position:relative; */ /* do i nee this?*/
}

/* the tree-branche is lower than the folder-icon  */
.treeview ul::before {
  top:-10px;
}


