.treeview ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
	/* position:relative; */
}

/* hide all ul inside any input: close all lists*/
.treeview input ~ ul {
	display: none; 
} 

/* show all ul contained in a checked checkbox */
.treeview input:checked ~ ul {
	display: block; 
}
