.treeview ul {
  padding: 0;
  margin: 0 0 0 15px;
  list-style-type: none;
	/* position:relative; */
}

.treeview input + label {
	margin: 0 0 0 0; /* distance between the the check-box and its text*/ 
}

/* hide all ul inside any input: close all lists*/
.treeview input ~ ul {
	display: none; 
} 

/* show all ul contained in a checked checkbox */
.treeview input:checked ~ ul {
	display: block; 
}
