.treeview ul /*, .treeview li */ {
  padding: 0;
  margin: 0 0 0 16px;
  list-style-type: none;
	position:relative;
}

/* hide all ul inside any input: close all lists*/
.treeview input ~ ul {
	display: none; 
} 

/* show all ul contained in a checked checkbox */
.treeview input:checked ~ ul {
	display: block; 
}

/* 'opened_folder' icon for labels preceded with a checked checkbox */
.treeview input:checked + label {
  background: url("../images/opened_folder.png") no-repeat;	
}

/* 'closed_folder' icon for labels preceded with a not-checked checkbox */
.treeview input:not(:checked)+ label {
  background: url("../images/closed_folder.png") no-repeat;	
}

.treeview input + label::before {
	/* content: "";*/ /* very important: make the content empty */		
	content: "abc"; border: 1px solid red; 
	margin: 0 20px 0 0;  /* top right bottom left*/	
}

/* let more space between a label and the preceding input */
.treeview input {
	/* margin:0; */
	position: absolute; 
	
}

