.treeview ul /*, .treeview li */ {
  padding: 0;
  margin: 0 0 0 16px;
  list-style-type: none;
}

/* hide all ul inside any input: close all lists*/
.treeview input ~ ul {
	display: none; 
} 

/* show all ul contained in a checked checkbox */
.treeview input:checked ~ ul {
	display: block; 
}

/* 'opened_folder' icon for labels preceded with a checked checkbox */
.treeview input:checked + label {
  background: url("../images/opened_folder.png") no-repeat;	
}

/* 'closed_folder' icon for labels preceded with a not-checked checkbox */
.treeview input:not(:checked)+ label {
  background: url("../images/closed_folder.png") no-repeat;	
}

.treeview input + label::before {
	content: "";  /* very important: make the content empty */		
	/* content: "ab"; border: 1px solid red; */
	margin: 0 20px 0 0;  /* top right bottom left*/	
}

.treeview {
  /* position:relative; */
}


.treeview input {	
	position:relative;
	top:2px;
	left:16px;
	margin:0;    
    width: 16px;    
	height:16px;
	opacity: 0.4; 
}
.treeview li {	
  /* margin:0;*/
  border: 1px solid #369; /* just comment this line to see*/  
  line-height:200%;
  /*padding:0 16px;*/
  /*font-weight:bold; */
  /* color:#369; */
  
  /*position:relative; */ /* do i nee this?*/
}

